body{
  font-family: sans-serif;
}
.brand-logo{
  width: 180px;
  height: 140px;
  margin-left: 40px;
  margin-top: 20px;
}
nav{
  height: 125px !important;
}
@media (max-width:1000px) {
  h5{
    color:black;
  }

}
