body{
  font-family: sans-serif;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h5{
  color:black !important;
}
.brand-logo{
  width: 180px;
  height: 140px;
  margin-left: 40px;
  margin-top: 20px;
}
nav{
  height: 125px !important;
}
.redes{
  margin-top: 200px;
  height: 400px;
}
.red-logo{
  width:60px;
  height:60px;
  opacity: 0.5;
  padding: 7px;
}
.sred{
  margin-top:35px;
}
img[src*=yt]{
  border-radius:30px;
}
.galeria{
  margin-top: 100px;
}
