body{
  font-family: sans-serif;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h5{
  color:#042474 !important;
}
h4{
  color:#042474 !important;
}
.brand-logo{
  width: 180px;
  height: 140px;
  margin-left: 40px;
  margin-top: 20px;
}
nav{
  height: 125px !important;
}
.redes{
  margin-top: 50px;
  height: 400px;
}
.red-logo{
  width:60px;
  height:60px;
  opacity: 0.5;
  padding: 7px;
}
.sred{
  margin-top:35px;
}
img[src*=yt]{
  border-radius:30px;
}
.galeria{
  margin-top: 100px;
  padding: 20px;
}
img[src*=jpg]{
  width: 100% !important;
}
img[src*=c]{
  width:100% !important;
  padding: 10px !important;
}
.comentarios{
  color:#042474    !important;
}
.ctn-cmt{
  min-height: 300px !important;
}
label{
  color: white !important;
}
div[class*=chip]{
  color:#042474 !important;
}
img[src*=a1]{
  width:60% !important;
  padding: 10px !important;
}
.pub{
  padding: 10px !important;
}
